<template>
  <div id="app">
    <headerComponent />
    <router-view />
  </div>
</template>

<script>
// @ is an alias to /src
import headerComponent from "@/components/header.vue";

export default {
  name: "Home",
  components: {
    headerComponent,
  },
};
</script>
