.banner {    
    background-color: $grey;
    margin-bottom: 0;
    display: block;
    text-align: left;

    .content-wrap {
        align-items: flex-start;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        padding: $indent__base;
    }

    p {
        max-width: 500px;
        font-weight: 400;
    }

    &.banner--1-col {
        // placeholder
        background-image: url(https://www.goodthingsfoundation.org/wp-content/uploads/2021/01/CM20964-scaled-e1614943479403.jpg);
        background-size: cover;
        background-position: center center;

        .content-wrap {
            min-height: 600px;
        }

        .banner__heading {
            background-color: $blue;
            color: $white;
            display: inline-block;
            margin: 0;
            padding: $indent__base;
        }

        p {
            background-color: $white;
            color: $green;
            margin: $indent__base 0;
            padding: $indent__base;
        }
    }

    
    &.banner--2-col {
        display: flex;
        background-color: $green;
        color: $white;

        .content-wrap {
            min-height: 400px;
        }

        .background-image {
            // placeholder
            background-image: url(https://www.goodthingsfoundation.org/wp-content/uploads/2021/01/CM10363-1.jpg);
            background-size: cover;
            background-position: center center;
        }

        .banner__heading {
            font-size: $font-size__xl;
            max-width: 600px;
        }

        > * {
            flex-basis: 50%;
        }
    }
}