.contact {
    @include block();
    background-color: $grey;
    text-align: left;

    .contact-form {
        background-color: $white;
        padding: $indent__base;
        font-size: $font-size__l;
        text-align: center;
    }
}