.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    .header__top {
        flex-basis: 100%;
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid $grey;

        a {
            text-decoration: none;
            color: $black;
            font-weight: 600;
        }

        .search-button {
            background: transparent;
            border: none; // reset
            border-left: 2px solid $grey;
            border-right: 2px solid $grey;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            padding: $indent__s $indent__l;
            font-size: $font-size__base;
            cursor: pointer;

            svg {
                margin-right: 5px;
            }
        }
    }

    .top-links__list {
        display: flex;
        list-style-type: none;
        margin: 0;

        .top-links__item {
            padding: $indent__s $indent__l;
            border-left: 2px solid $grey;

            &:last-child {
                border-right: 2px solid $grey;
            }

            &:not(._pink) {
                border-bottom: 2px solid $green;
            }

            &._pink {
                border-bottom: 2px solid $pink;
                background-color: $pink;

                a {
                    color: white;
                }
            }
        }
    }

    .logo {
        max-width: 200px;
        padding: $indent__xs;
    }

    .navigation-bar {
        padding: $indent__xs;
        
        .list {
            margin: 0;
        }
        
        .list-item {
            font-weight: 600;
        }

        a {
            text-decoration: none;
            color: $black;
            padding: $indent__base 0;
            margin: 0 $indent__base;
            display: block;

            &:visted {
                color: $black;
            }

            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 4px;
                background-color: $pink;
                transition: all ease-in-out .2s;
            }

            &.router-link-exact-active, &:hover {
                position: relative;

                &:after {
                    width: 100%;
                }
            }
        }
    }
}