.post-list {
    @include block();
    background-color: $blue;
    color: $white;
    text-align: left;

    .actions {
        margin-top: $indent__xl;
        text-align: center;
    }

    .post-list__items {
        display: flex;
    }

    .post-list__item {
        flex-basis: calc(25% - #{$indent__base / 4 * 3});
        background-color: $white;
        color: $black;
        display: flex;
        flex-direction: column;
        margin-left: $indent__base;
        padding: $indent__l $indent__base;
        text-align: center;

        &:first-of-type {
            margin-left: 0;
        }

        dd {
            margin-left: 0;
        }

        dt {
            font-weight: 600;
            font-size: $font-size__l;
            padding-bottom: $indent__base;
        }
    }
}