<template>
  <div :class="columns == 1 ? 'banner banner--1-col' : 'banner banner--2-col'">
    <div v-if="columns == 2" class="background-image">
      <span class="visually-hidden">Background image alt text</span>
    </div>
    <div class="content-wrap">
      <h1 class="banner__heading">{{ title }}</h1>
      <p>{{ content }}</p>
      <router-link
        v-if="columns == 1"
        class="action primary"
        :to="getMenuItemById(link).url"
        >{{ getMenuItemById(link).title }}</router-link
      >
      <router-link
        v-if="columns == 2"
        class="action primary invert"
        :to="getMenuItemById(link).url"
        >{{ getMenuItemById(link).title }}</router-link
      >
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "Banner",
  props: {
    title: String,
    content: String,
    link: Number,
    columns: Number,
  },
  computed: {
    ...mapGetters(["getMenuItemById"]),
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss"></style>
