<template>
  <header class="header">
    <div class="header__top">
      <div class="search">
        <button class="search-button">
          <SearchIcon w="20px" h="20px" />Search
        </button>
        <!-- I assume some popup search thing will be here -->
      </div>
      <div class="top-links">
        <ul class="top-links__list">
          <li class="top-links__item"><a href="/">Learn</a></li>
          <li class="top-links__item _pink"><a href="/">Donate</a></li>
        </ul>
      </div>
    </div>
    <img
      class="logo"
      alt="Good Things Foundation logo"
      src="../assets/logo.png"
    />
    <navBar />
  </header>
</template>

<script>
import SearchIcon from "vue-ionicons/dist/ios-search.vue";
import navBar from "@/components/navBar.vue";

export default {
  name: "headerComponent",
  components: {
    navBar,
    SearchIcon,
  },
};
</script>
