<template>
  <nav class="navigation-bar">
    <ul class="list">
      <li
        class="list-item"
        v-for="menuItem in listMenuItems"
        :key="menuItem.id"
      >
        <router-link :to="menuItem.url">{{ menuItem.title }}</router-link>
      </li>
    </ul>
  </nav>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  name: "navBar",
  computed: {
    ...mapGetters(["listMenuItems"]),
  },
};
</script>

<style lang="scss">
.navigation-bar {
  ul {
    list-style-type: none;
    display: flex;
  }
}
</style>
