<template>
  <div class="home">
    <Banner
      v-for="block in loopBlocks"
      :key="block.id"
      v-bind:columns="block.columns"
      v-bind:title="block.title"
      v-bind:content="block.content"
      v-bind:link="block.link"
    />

    <section class="contact">
      <h2 class="contact-heading">How can we help you?</h2>
      <p>
        Let us know who you are and what you're looking for, and we'll help get
        you to the right place.
      </p>
      <form class="contact-form">
        <label for="type">I am</label>
        <div class="select">
          <select name="type" id="type">
            <option value="individual">an Individual</option>
            <option value="organisation">an Organisation</option>
          </select>
          <div class="select_arrow"></div>
        </div>
        <label for="objective">and I want</label>
        <div class="select">
          <select name="objective" id="objective">
            <option value="learn">want to learn</option>
            <option value="something-else">something else</option>
          </select>
          <div class="select_arrow"></div>
        </div>
        <input type="submit" class="action primary pink" value="Start now" />
      </form>
    </section>

    <section class="post-list">
      <h2>What do we do?</h2>
      <p>
        You might not have heard of us, but we're the people behind the
        following impactful programmes.
      </p>
      <dl class="post-list__items">
        <di v-for="post in loopPosts" :key="post.id" class="post-list__item">
          <dt>{{ post.title }}</dt>
          <dd>
            <p>{{ post.description }}</p>
            <a
              class="action primary outline"
              :href="post.url"
              :title="'Learn more about ' + post.title"
              >Learn more</a
            >
          </dd>
        </di>
      </dl>

      <div class="actions">
        <a class="action primary" href="/">More about what we do</a>
      </div>
    </section>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import Banner from "@/components/banner.vue";

export default {
  name: "Home",
  components: {
    Banner,
  },
  computed: {
    ...mapGetters(["loopBlocks", "loopPosts"]),
  },
};
</script>
